<!DOCTYPE html>
<html>
<head>
    <title>Connect to LinkedIn Account</title>
</head>
<body>
    <h2>Connect to LinkedIn Account</h2>
    {{if .Error}}
    <p style="color: red;">{{.Error}}</p>
    {{end}}
    <form action="/login/linkedin" method="POST">
        <label for="username">Email:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Connect">
    </form>
        <h2>Check link status of LinkedIn Account</h2>
    <form action="/status/linkedin" method="POST">
        <label for="username">Email:</label><br>
        <input type="text" id="username" name="username"><br>
        <input type="submit" value="Check">
    </form>
</body>
</html>